.project-preview
{
  width: 100%;
  display: grid;
  justify-items: start;
}

.project-image
{
  width: 89%;
  margin-inline: auto;
  border-radius: 7px;
}

.project-title
{
  font-weight: 700;
  font-size: 1.3rem;
  margin-inline-start: .5em;
  margin-top: 0.5em;
  margin-bottom: 0em;
}

.project-beschrijving
{
  padding-inline: 1.1em;
  margin-top: 0em;
}

.tags
{
  display: flex;
  margin-inline: .7em;
  margin-block: 0.3em;
  flex-direction: row;
  flex-wrap: wrap;
  gap: .3em;
  align-items: center;
  min-height: 2.2em;
}
