@import url("normalize.css");

:root
{
  --clr-alowisgray: 0, 0%, 35%;
  --clr-alowisred: 5, 80%, 35%;
  --clr-alowisbrown: 37, 37%, 85%;

  /* main background */
  --clr-primary: 0, 0%, 100%;

  /* header/footer background */
  --clr-accent: var(--clr-alowisbrown);
  --clr-text: 0, 0%, 0%;
  --clr-strong: 54, 77%, 74%;
}

/* darktheme */
/* @media (prefers-color-scheme: dark) {
    :root {
        --clr-primary: 0, 0%, 0%;
        --clr-text: 0, 0%, 100%;

        --clr-alowisgray: 0, 0%, 55%;
        --clr-alowisred: 0, 100%, 62%;
        --clr-alowisbrown: 31, 88%, 11%;

        --clr-strong: 54, 76%, 20%;
    }

    @media screen and (min-width: 1000px){
        ul.nav-sublist a:hover {
            color: hsla(var(--clr-text));
            text-shadow: 1px 1px hsla(var(--clr-primary));
        }
    }
    }
} */

*, *::before, *::after
{
  box-sizing: border-box;
}

::selection
{
  background: hsla(var(--clr-alowisred));
  color: hsla(var(--clr-primary));
}
