@import url("normalize.css");

:root
{
  --clr-purple: 278, 23%, 43%;
  --clr-blue: 224, 25%, 48%;
  --clr-black: 240, 21%, 8%;
  --clr-white: 240, 100%, 99%;
  --clr-background: hsla(var(--clr-black));
  --clr-accent1: hsla(var(--clr-purple));
  --clr-accent2: hsla(var(--clr-blue));
  --clr-text: hsla(var(--clr-white));
  --clr-selection: hsla(64, 82%, 59%);
}

/* light-theme */
/* @media (prefers-color-scheme: dark)
{
  :root
  {
  --clr-background: hsla(var(--clr-white));
  --clr-text: hsla(var(--clr-black));
  }
} */


*, *::before, *::after
{
  box-sizing: border-box;
}

::selection
{
  background: var(--clr-selection);
  color: var(--clr-background);
}

html
{
  background: var(--clr-background);
  color: var(--clr-text);
}

.skip-nav
{
  display: none;
}

/* header */
header nav li
{
  list-style: none;
  display: inline;
}

header nav a
{
  text-decoration: none;
  color: var(--clr-text);
  font-weight: bold;
}

header nav a:hover
{
  text-decoration: underline;
}

header nav ul
{
  padding: 0px;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
}

.projecten
{
  background-color: var(--clr-accent1);
}

.CV
{
  background-color: var(--clr-accent2);
}
